<!DOCTYPE html>
<head>
 <title>Predizione default carte</title>
</head>
<body>
 <h2>Default carte di credito</h2>
 <form method="GET" action="{{ url_for("predict") }}">
  <p>Credito da saldare: <input name="LIMIT_BAL"></p>
  <p>Ritardo ultimo mese (-1=puntuale): <input name="PAY_6"></p>
  <p>Titolo di studio: <select name="EDUCATION">
   <option value="1">Laurea magistrale</option>
   <option value="2">Laurea breve</option>
   <option value="3">Diploma</option>
   <option value="4">Altro</option>
  </select></p>
  <p><button type="submit">Conferma</button></p>
 </form>
</body>
</html>
